<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
=======
/*
 * === Global style ===
 */

/* Global style */
body {
            margin: 0;
            padding: 0;
>>>>>>> 8d8870eeb6947ab77292d5ba390a7cbdca5ce6a4
}
